.logoTam{
    width: 150px;
    height: 150px;
}

.logo-2{
    position: absolute;
}

.fondoNav{
    background-color: #EAFAF1;
}

.navBarTam{
    height: 100px;
}

.cervezaTam{
    width: 30px;
    height: 30px;
}

.ul{
    list-style: none;
}

.position{
    z-index: 1;
}

.perfil{
    width: 100px;
    height: 100px;
}

.h5Color{
    color: #48C9B0;
}

.cajaBack{
    background-color: #283747;
    width: 75%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.foto{
    width: 30px;
    height: 30px;
}

.marcas{
    width: 100%;
    overflow: auto;
}

.scroll::-webkit-scrollbar{
    height: 3px;
}

.scrollPer::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}

.cards{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.envio{
    background-color: #58D68D;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.divP{
    height: 482px;
}

.buttomScroll{
    position: absolute;
}

.derecha{
    margin-left: 50%;
}

.flechas{
    z-index: 1;
}

.scrollTransition{
    transition-duration: 1s;
}

.fondoPrincipal{
    background-color: #F2F3F4;
}

.fuente{
    font-family: 'Times New Roman', Times, serif;
}